<div class="flex justify-center items-center space-x-2">
    <% (0..8).each do %>
    <div class="flex flex-col items-center justify-center">
      <%= image_tag 'avatar.svg', class: "rounded-full w-20" %>
      <div class='text-xs text-center w-20 pb-0 overflow-hidden overflow-ellipsis'>Username</div>
    </div>
    <% end %>
</div>
