<div class="container flex flex-col space-y-5">
  <div class='flex justify-center items-center'>
    <div class="w-content border-top border-dark flex justify-center space-x-2">
      <%= image_tag "cells.svg", class: 'w-4' %>
      <small class='font-semibold'>Posts</small>
    </div>
  </div>

  <div class='row justify-center items-center'>
    <% user.posts.each do |post| %>
      <div class="col-lg-4 col-md-6 col-sm-8 p-3 mb-4 h-80">
        <%= cl_image_tag post.photos.first.key, class: 'border p-1 object-cover w-full h-80' %>
      </div>
    <% end %>
  </div>
</div>
