// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'filepond';
@import 'image_preview';

a {
  text-decoration: none;
}

html {
  height: 100vh;
}

body {
  background-color: #fafafa;
  height: 100%;
}

.story::-webkit-scrollbar {
  width: 0;
}

textarea {
  resize: none;
  border: none !important;
  background-color: white !important;
  height: 24px !important;
}
textarea:focus{
  outline: none !important;
  box-shadow: none !important;
}

.comment_body {
  margin-bottom: 0 !important;
}
